@{
    ViewBag.Title = ViewBag.BoardName;
}

<div ng-controller="CategoriesCtrl as categoriesCtrl">
    <div class="wrap narrow" id="categories-list-page">
        <div class="gencon">
            <h1>@ViewBag.BoardName Categories</h1>
            <a href="@Url.Action("Board", "Boards", new { id = ViewBag.BoardId })" class="back">Back to @ViewBag.BoardName</a>
            <div id="list-pane">
                <button ng-click="categoriesCtrl.newCategoryClicked()"><i class="fa fa-plus"></i> New Category</button>
                <categories-list board-id="@ViewBag.BoardId">
                    <p class="message">
                        <em><i class="fa fa-spinner fa-spin"></i> Loading Categories</em>
                    </p>
                </categories-list>
            </div>
        </div>
    </div>

    <div id="modal"
         categories-modal
         modal-title="categoriesCtrl.modalTitle"
         modal-active="categoriesCtrl.modalActive"
         modal-method="categoriesCtrl.modalMethod"
         modal-color-code="categoriesCtrl.modalColorCode"
         board-id="@ViewBag.BoardId"
         ng-class="categoriesCtrl.modalActive ? 'active' : ''">
    </div>
</div>
