<!DOCTYPE html>

<html>
@Html.Partial("_Head")
<body>
    <div id="page-container" ng-app="boards-app">
        @Html.Partial("_Header")
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_Footer-js")
</body>
</html>
